
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}

/* 머릿말 */

header{
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;

    border-bottom: 2px solid gray;
    background-color: cadetblue;
    color: aliceblue;
}

body {
    padding-top: 100px;
    /* 생략 */
  }

.headContent{
    width: 90%;
    min-width: 1100px;
    max-width: 1200px;
    height: 100px;
}


header .title .logo{
    width: 80px;
    height: 80px;
    padding: 10px;
}

header .title .logo,
header .title p{
    float: left;
}

header .title{
    width: 26%;
}

header ul{
    float: right;
    width: 74%;
}

header .title p{
    margin-top: 32px;
    margin-left: 10px;
}



header li{
    display: inline-block;
    margin-top: 40px;
    margin-left: 4%;
}


header  .login{
    margin-left: 15%;
}

.contentWrap{
    background-color: bisque;
    padding: 3.9%;
    
 }
 
 .content{
     width: 90%;
     min-width: 1100px;
     max-width: 1200px;
     margin: 0 auto;
     text-align: center;
     padding: 3.9%;
     background-color: white;
 }
 

fieldset {
    border: 1 solid;
    border-top-color: ff3366;
    border-right-color: ff3366;
    border-left-color: ff3366;
    border-bottom-color: ff3366;
    padding: 10px;
    margin: 0 auto;
}

.content p,
.content input {
    font-size: 30px;
    
}

.content p{
    padding: 70px;
}

.content input{
    padding: 40px;
    margin-bottom: 50px;
    width: 500px;
    height: 150px;
    background-color: hotpink;
    border-radius: 20px;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
}

.content input:hover{
    background: black;
}


footer{
    background-color: black;
}

.footerContent{
    min-width: 85.93%;
    max-width: 93.75%;
    text-align: center;
}

.footerContent .foot1{
    width: 500px;
    height: 150px;
}

.footerContent .foot2{
    margin-left: 200px;
    width: 300px;
    height: 150px;
}