<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지</title>
    <link rel="stylesheet" href="css/myPageStyle.css">
</head>
<body>
    <header>
        <div class="headContent">
            <h2 class="title">
                <img class="logo" src="homePicture/healthLogo.PNG">
                <p>S휘트니스</p>
            </h2>
            <ul class="toolBar">
                <li class="headTrainer"><a href="trainer">트레이너</a></li>
                <li><a href="event">쿠폰/이벤트</a></li>
                <li id="viewStore"><a href="#" onclick="alert('로그인 후 이용 가능합니다.')">스토어</a></li>
                <li id="viewMyPage"><a href="#" onclick="alert('로그인 후 이용 가능합니다.')">마이페이지</a></li>
                <li><a class="inform" href="useInform">이용안내</a></li>
                <li class="login" id="log"><a href="logIn" id="taglogIn">로그인</a></li>
                <li id="viewJoin"><a href="join">회원가입</a></li>
            </ul>
        </div>
    </header>

    <div class="contentWrap">
        <div class="content">
            <p>[[${id}]] 회원님 구매내역</p>
            <table>
                <th>번호</th>
                <th>상품이름</th>
                <th>가격</th>
                <th>구매일자</th>
                <tbody>
                    <tr th:each="dto : ${buyerInform}">
                        <td>[[${dto.bid}]]</td>
                        <td>[[${dto.goods_name}]]</td>
                        <td>[[${dto.price}]]</td>
                        <td>[[${dto.buy_date}]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer>
        <div class="footerContent">
            <img class="foot1" src="homePicture/footer1.PNG">
            <img class="foot2" src="homePicture/footer2.PNG">
        </div>
    </footer>

    <script th:inline="javascript">
       if ([[${checkedLog}]] == "true"){
            document.getElementById('log').innerHTML='<a href="home?checkedLog=false" id="taglogIn">로그아웃</a>';
            document.getElementById('viewJoin').innerHTML='<a href="#"></a>';
            document.getElementById('viewStore').innerHTML='<a href="store">스토어</a>';
            document.getElementById('viewMyPage').innerHTML='<a href="myPage">마이페이지</a>';
        }
    </script>

</body>
</html>